<p data-hook="maksuturva_quick_checkout"></p>

<%
	@payment_method= Spree::PaymentMethod.where(type: Spree::BillingIntegration::Maksut::QuickCheckout).first
    elements={pmt_action: 'NEW_PAYMENT_EXTENDED',
		      pmt_version: '0004',
		      pmt_sellerid: @payment_method.preferred_seller_id ,#'testikauppias'
		      pmt_selleriban: '',
		      pmt_id: @order.number,
		      pmt_orderid: @order.number,
		      pmt_reference: '1234561',
		      pmt_duedate: Time.new.strftime("%d.%m.%Y"),
		      pmt_userlocale: I18n.locale.to_s+'_FI', #  'en_FI'
		      pmt_amount: @order.total,
		      pmt_currency: 'EUR',
		      pmt_okreturn: maksut_return_order_checkout_url(@order, token: @order.token, payment_method_id: payment_method.id),
		      pmt_errorreturn: checkout_state_url(state: 'payment'),
		      pmt_cancelreturn: maksut_cancel_order_checkout_url(@order, :token => @order.token),
		      pmt_delayedpayreturn: checkout_state_url(state: 'payment'),
		      pmt_escrow: 'N',
		      pmt_escrowchangeallowed: 'N',
		      pmt_invoicefromseller: 'N',
		      pmt_paymentmethod: 'FInn',
		      pmt_buyeridentificationcode: '0000026-2',
		      pmt_buyername: @order.user.login,
		      pmt_buyeraddress: @order.bill_address.address1,
		      pmt_buyerpostalcode: @order.bill_address.zipcode,
		      pmt_buyercity: @order.bill_address.city,
		      pmt_buyercountry: @order.bill_address.country.iso,
		      # pmt_buyerphone: '1234',
		      pmt_buyeremail: @order.email,
		      pmt_deliveryname: "#{@order.ship_address.firstname} #{@order.ship_address.lastname}",
		      pmt_deliveryaddress: @order.ship_address.address1,
		      pmt_deliverypostalcode: @order.ship_address.zipcode,
		      pmt_deliverycity: @order.ship_address.city,
		      pmt_deliverycountry: @order.ship_address.country.iso, #'FI',
		      pmt_sellercosts: '0,00',
		      pmt_rows: @order.line_items.count
			}
    n=1
    @order.line_items.each do |item|
		elements["pmt_row_name#{n}"]= item.variant.product.name.gsub(/<\/?[^>]*>/, "")
		elements["pmt_row_desc#{n}"]= '.'#(item.variant.product.description ? item.variant.product.description[0..120].gsub(/<\/?[^>]*>/, "") : '.' )	
		elements["pmt_row_quantity#{n}"]= item.quantity
		elements["pmt_row_articlenr#{n}"]= n
		elements["pmt_row_unit#{n}"]= 'pcs'
		elements["pmt_row_deliverydate#{n}"]= Time.new.strftime("%d.%m.%Y")
		elements["pmt_row_price_net#{n}"]= item.price
		elements["pmt_row_vat#{n}"]= '0,00'
		elements["pmt_row_discountpercentage#{n}"]= '0,00'
		elements["pmt_row_type#{n}"]= '1'
		n=n+1
	end    	
	elements[:pmt_charset]= 'UTF-8'
	elements[:pmt_charsethttp]= 'UTF-8'
	elements[:pmt_hashversion]= 'MD5'
    elements[:pmt_keygeneration]=@payment_method.preferred_key_generation #'001'
   	hash_elements = elements.clone
  	hash_elements.delete(:pmt_sellerid)
  	hash_elements.delete(:pmt_selleriban)
  	hash_elements.delete(:pmt_userlocale)
  	hash_elements.delete(:pmt_rows)
   	hash_elements.delete(:pmt_buyeremail)
  	hash_elements.delete(:pmt_charset)
  	hash_elements.delete(:pmt_charsethttp)
  	hash_elements.delete(:pmt_hashversion)
  	hash_elements.delete(:pmt_keygeneration)
  	hash_elements.delete(:pmt_paymentmethod)  
  	hash_elements['private']= @payment_method.preferred_private #'11223344556677889900'
  # hash_elements['pmt_row_price_gross1']= '0.01'
    @s=''
    hash_elements.each do |key,val|
      @s= @s+val.to_s+ '&'
    end
    elements['pmt_hash']= Digest::MD5.hexdigest(@s)
%>

<form action="http://<%= @payment_method.preferred_test_mode ? 'test1' : 'www' %>.maksuturva.fi/NewPaymentExtended.pmt"  method="post">
    <%elements.each do |key,val|%>
    <%= text_field_tag(key, val, type: 'hidden') %>
    <% end %>
	<input type="submit" value=<%=t('checkout')%>>
</form>

